rules_version = '2';

function isSignedIn() {
  return request.auth != null;
}
function isOwner(userId) {
  return isSignedIn() && request.auth.uid == userId;
}

service cloud.firestore {
  match /databases/{database}/documents {
  	match /{document=**} {
    	allow read, write: if false;
    }
    match /users/{userId}/{document=**} {
      allow read, write: if isOwner(userId);
    }

    match /community/{community} {
      function getRole(userId) {
        return get(get(/databases/$(database)/documents/community/$(community)/members/$(userId)).data.role);
      }

			match /{document=**} {
      	allow read: if getRole(request.auth.uid).data.canRead;
      	allow write: if getRole(request.auth.uid).data.canWrite;
      }
      match /members/{userId}/{document=**} {
        allow read: if isOwner(userId) || getRole(request.auth.uid).data.canRead;
        allow read: if isOwner(userId) || getRole(request.auth.uid).data.canWrite;
      }
    }
  }
}
